.section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding: 120px 40px 40px 40px;
    @media only screen and (0 <= width <= 479px) {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
    &__fon {
        position: relative;
        background-image: url("/img/Section-1/main-fon.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px;
        height: 100%;
        border-radius: 30px;
        @media only screen and (0 <= width <= 479px) {
            padding-top: 50px;
            padding-bottom: 80px;
            border-radius: 0;
        }
    }
    &__cont {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media only screen and (0 <= width <= 479px) {
            align-items: center;
        }
    }
    &__title-h1 {
        font-weight: 800;
        font-size: 66px;
        line-height: 125%;
        color: #fff;
        margin-bottom: 12px;
        @media only screen and (0 <= width <= 479px) {
            margin-bottom: 30px;
            font-size: 38px;
        }
    }
    &__title-p {
        width: 680px;
        font-weight: 500;
        font-size: 20px;
        line-height: 125%;
        color: #969696;
        margin-bottom: 46px;
        b {
            font-weight: 700;
            color: #dfdfdf;
        }
        @media only screen and (0 <= width <= 479px) {
            width: 320px;
            font-size: 16px;
            width: 100%;
            text-align: start;
        }
    }
    &__main-cont {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @media only screen and (0 <= width <= 479px) {
            flex-direction: column-reverse;
            justify-content: flex-start;
            gap: 30px;
        }
    }
    &__sizes {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: 28px;
        padding-bottom: 28px;
        padding-left: 40px;
        gap: 21px;
        border-radius: 20px;
        width: 430px;
        backdrop-filter: blur(19.200000762939453px);
        background: linear-gradient(165deg, rgba(114, 122, 136, 0.2) 0%, rgba(14, 21, 30, 0.2) 58%, rgba(84, 83, 142, 0.2) 100%);
        border: 1px solid #3f3f3f;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 40px;
            border: 1px solid #222222;
            gap: 30px;
        }
    }
    &__size {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    &__size-icon {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        margin-right: 24px;
    }
    &__size-text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 3px;
    }
    &__size-text-1 {
        font-weight: 800;
        font-size: 16px;
        line-height: 125%;
        color: #fff;
        @media only screen and (0 <= width <= 479px) {
            font-size: 14px;
        }
    }
    &__size-text-2 {
        font-weight: 100;
        font-size: 14px;
        line-height: 125%;
        color: #a8a8a8;
        @media only screen and (0 <= width <= 479px) {
            font-size: 12px;
        }
    }
    &__main-photo {
        position: absolute;
        top: -30px;
        right: 0;
        width: 680px;
        @media only screen and (0 <= width <= 479px) {
            position: relative;
            top: 0;
            width: 100%;
        }
        @media only screen and (1200px <= width <= 1359px) {
            width: 570px;
        }
    }
    &__btns {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 60px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            flex-direction: column;
            margin-top: 40px;
        }
    }
    &__btn-link {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-radius: 30px;
        border: 1px solid #fff;
        width: 250px;
        height: 60px;
        color: #ffffff;
        background: rgba(210, 210, 210, 0.15);
        transition: all 0.4s;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
        &:hover {
            background-color: rgba(204, 204, 204, 0.411);
        }
        span {
            font-weight: 600;
            font-size: 14px;
        }
    }
}