.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 130px;
    background-color: #2a2929;
    &__cont {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #838383;
    }
    &__rules-links {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    &__rules-link {
        font-family: var(--font-family);
        font-weight: 200;
        font-size: 12px;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
            text-decoration: underline;
        }
    }
    &__info {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
    }
    &__left-links {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    &__left-links-socials {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 4px;
        margin-right: 50px;
    }
    &__left-link-socials {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 21px;
        transition: all 0.4s;
        &:hover {
            background-color: #353535;
        }
    }
    &__left-links-author {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-weight: 200;
        font-size: 12px;
        text-align: right;
    }
    &__left-link-author {
        color: #cfcfcf;
        transition: all 0.4s;
        &:hover {
            text-decoration: underline;
        }
    }
}