.section-9 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: rgba(227, 170, 94, 0.1);
    @media only screen and (0 <= width <= 479px) {
        padding-top: 80px;
        padding-bottom: 200px;
    }
    &__cont {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        @media only screen and (0 <= width <= 479px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 515px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
    }
    &__h6 {
        position: relative;
        font-weight: 800;
        font-size: 52px;
        line-height: 125%;
        text-transform: uppercase;
        text-align: center;
        color: #303030;
        margin-bottom: 24px;
        text-align: start;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            font-size: 28px;
            margin-bottom: 40px;
            text-align: center;
        }
    }
    &__text-info {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: #919191;
        margin-bottom: 70px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            font-size: 16px;
            margin-bottom: 50px;
            text-align: center;
        }
    }
    &__contacts {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-weight: 300;
        font-size: 12px;
        line-height: 150%;
        color: #696969;
        width: 320px;
        b {
            font-weight: 700;
            font-size: 32px;
            color: #303030;
        }
        @media only screen and (0 <= width <= 479px) {
            position: absolute;
            bottom: -540px;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            text-align: center;
        }
    }
}    