.button-popup {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
    min-width: 250px;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    border-radius: 30px;
    background-color: #ED711B;
    box-shadow: 0 4px 10px 0 rgba(255, 107, 0, 0.5);
    color: #ffffff;
    transition: all 0.4s;
    @media only screen and (0 <= width <= 479px) {
        width: 100%;
    }
    &:hover {
        background-color: #E8511B;
    }
    &__btn-icon {
        position: relative;
    }
    &__btn-cont {
        font-weight: 600;
        font-size: 14px;
    }
    &_tabels {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-radius: 30px;
        width: 280px;
        height: 60px;
        color: #ffffff;
        box-shadow: 0 4px 10px 0 rgba(255, 107, 0, 0.5);
        background: #ed711b;
        transition: all 0.4s;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
        }
        &:hover {
            background-color: #E8511B;
        }
        span {
            font-weight: 600;
            font-size: 14px;
        }    
        b {
            font-weight: 200;
            font-size: 24px;
        }
    }
}