.wrapper {
    width: 1200px;
    @media only screen and (0 <= width <= 479px) {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    &_large {
        width: 100%;
        max-width: 1430px;
        @media only screen and (0 <= width <= 479px) {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}